.section-center{
    background: green;
    padding: 5px;
    width: 85%;
}
.h1{
    padding-left: 35%;        
}
.blog{
    padding-left: 50%;  
}
.article{
    display: flex;
    align-items: center;
    background-color:coral;
}
.lado{
    display: flex;
}
.image{
    display: flex;
    align-content: end;
}
.button{
    color: blueviolet;
    display: flex;
    flex-direction: column;
}
.button-other{
    background: blueviolet;
    border: none;
}
.footer{
    background: yellowgreen;
}